body {
    text-align: center;
    background-color: #262626;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.particles-js-canvas-el {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  2% 5% 5%;
    color: #FEF2BF;
    /* position: relative; */
}

.footerP {
    /* margin-top: 5%; */
    font-family: 'Press Start 2P', cursive;
    color: #FEF2BF;
}

.row {
    margin: auto;
}

.btn {
    margin: 25px;
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 10px solid black;
    border-radius: 20%;
    position: relative;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

@media screen and (max-width: 700px) {
    .btn {
        width: 28.52324vw;
        height: 28.52324vw;
    }

    .title {
        font-size: 6.844vw;
    }

    .footerP {
        font-size: 3vw;
    }
}

@media screen and (max-width: 335px) {
    .btn {
        display: block;
        margin: 25px auto;
    }
}